<h1>Contact saved!</h1>

<p>Your contact was successfully saved.</p>

<p><a href="/contacts/<%= @contact.id %>">View <%= @contact.name %></a></p>

<p><a href="/contacts">Return to contact listing</a></p>
